.DS_Store
dist/
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.vscode/yuki.code-workspace
config/games.json
config/gui.json
config/texts.json
lib/dict/lingoes