.DS_Store
dist/
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.vscode/yuki.code-workspace
config/*.json
config/games.yaml
config/gui.yaml
config/texts.yaml
lib/dict/lingoes
package-lock.json